<html>
    <head>
        <title>Marc's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Marc's Blog</a></h1>
        </div>

        <div>
            <p>published: 07.09.2016, 9:10</p>
            <h2><a href="">My first post</a></h2>
            <p>GET'r'DONE</p>
        </div>

        <div>
            <p>published: 07.09.2016, 9:10</p>
            <h2><a href="">WHAT it DO now YALL</a></h2>
            <p>THIS IS HOW YOU DO IT!<p>
        </div>
    </body>
</html>
 ALL THREE SECTIONS ARE CREATED!
